#palette1 {
    font-family: sans-serif;
    text-align: center;
}

#palette1-color1 {
    background-color: #BFB5AF;
    color: black;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}

#palette1-color2 {
    background-color: #86A873;
    color: black;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}

#palette1-color3 {
    background-color: #7D83FF;
    color: black;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}

#palette2 {
    font-family: sans-serif;
    text-align: center;
}
#palette2-color1 {
    background-color: #758ECD;
    color: black;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}

#palette2-color2 {
    background-color: #C1CEFE;
    color: black;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}

#palette2-color3 {
    background-color: #7189FF;
    color: black;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}

