/* Drill 1 - Write your code solution below */
.d1-container {
    padding: 36px;
}

/* Drill 2 - Write your code solution below */
.d2-container {
    padding: 48px 24px;
}

/* Drill 3 - Write your code solution below */
.d3-div {
    padding: 12px;
}
#d3-div-2 {
    margin: 12px 48px;
}

/* Drill 4 - Write your code solution below */
#d4-div-1 {
    padding: 24px;
}
#d4-div-2 {
    padding: 0px 24px 24px;
}
/* Drill 5 - Write your code solution below */
.d5-container {
    text-align: center;
}
.d5-s {
    display: inline-block
}
