* {
    box-sizing: border-box;
    background-color: rgb(225, 224, 224);
}

body {
    font-family: sans-serif;
    margin: 0px;
    display: block;
}

#grid-layout {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas:
        "header header header"
        "image info sidebar";
}

#header {
    grid-area: header;
    text-align: center;
    border-bottom: 1px solid slateblue;
    margin-bottom: 36px;
}

#header #m {
    color: purple;
}

#header #e {
    color: rgb(218, 11, 11);
}

#header #b {
    color: blue;
}

#header #a {
    color: gold;
}

#header #y {
    color: limegreen;
}
#header a {
    text-decoration: none;
}

#header span #m {
    color: purple;
}

#header #me {
    color: rgb(9, 9, 9);
}

#header #tube {
    color: rgb(10, 10, 10);
    padding: 4px;
    border-radius: 12px;
}

#header h1 { 
    font-size: 48px;
    margin: 0px;
    padding: 12px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#product-info-column h2, #product-info-column .product.info {
    border-bottom: 1px solid slateblue;
}

#sidebar ul {
    list-style-type: none;
    padding: 12px 0px;
    margin: 0px;
    border-bottom: 1px solid lightgray;
}

#sidebar ul a:hover {
    background-color: rgb(136, 162, 159);
    border-radius: 12px;
}

#sidebar ul a {
    text-decoration: none;
    color: rgb(13, 13, 13);
    padding: 12px;
    display: block;
}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.metube-item .thumbnail-placeholder {
    background: radial-gradient(at top left, crimson, orange);
    aspect-ratio: 16 / 9;
    border-radius: 8px;
}

.metube-item h4 {
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: #080808;
    display: block;
}

.metube-item h4 a:hover {
    text-decoration: underline;
}

.metube-item .video-details {
    margin: 8px;
    font-size: 14px;
}

.metube-item .video-channel {
    margin-bottom: 4px;
    color: rgb(9, 8, 8);
}

.metube-item img{
    width: 100%;
    border-radius: 8px;
}